{% extends 'admin/layouts/admin.html.twig' %}

{% block title %}Order index{% endblock %}


    {% block main_title %}List orders  ({{ orders.totalItemCount}}){% endblock %}
    {% block search %}
        {% include 'admin/partials/_search.html.twig' with {
            url_path : 'app_admin_order_index'
        }%}

    {% endblock %}
    {% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer</th>
                <th>firstName</th>
                <th>lastName</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.user.email }}</td>
                <td>{{ order.user.firstName }}</td>
                <td>{{ order.user.lastName }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order.updatedAt ? order.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_admin_order_show', {'id': order.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(orders, 'admin/layouts/partials/_pagination.html.twig') }}
        </div>
</div>
{% endblock %}
