{% extends 'admin/layouts/invoice-layout.html.twig' %}


{% block body %}

    <header>
        <h1>Invoice</h1>
        <address contenteditable>
            <p>{{ order.user.firstName }} {{ order.user.lastName }} </p>
            <p>{{ order.user.address }}<br>{{ order.user.city }} {{ order.user.zipcode }}</p>
            <p>{{ order.user.phone }}</p>
        </address>

    </header>
    <article>
        <h1>Recipient</h1>
        <address contenteditable>
            <p>{{ site_name|capitalize }}<br>
                {{ address }}
                <br>
                {{ zipcode}} {{ city}}

            </p>
        </address>
        <table class="meta">
            <tr>
                <th><span contenteditable>Invoice #</span></th>
                <td><span contenteditable>{{ order.billNumber }}</span></td>
            </tr>
            <tr>
                <th><span contenteditable>Date</span></th>
                <td>
                    <span contenteditable>{{ order.createdAt ? order.createdAt|date("F d Y", "Europe/Paris")  : '' }}</span>
                </td>
            </tr>
            <tr>
                <th><span contenteditable>Amount Due</span></th>
                <td><span id="prefix"
                          contenteditable></span><span> {{ invoice_calculs.total_amount|round(0, 'floor') }}</span>€
                </td>
            </tr>
        </table>
        <table class="inventory">
            <thead>
            <tr>
                <th><span contenteditable>Item</span></th>
                <th><span contenteditable>Description</span></th>
                <th><span contenteditable>Rate</span></th>
                <th><span contenteditable>Quantity</span></th>
                <th><span contenteditable>Price</span></th>
            </tr>
            </thead>
            <tbody>
            {% for invoice_calcul in  invoice_calculs %}
                {% for  productQuantity in invoice_calcul %}
                    <tr>
                        <td><a class="cut">-</a><span contenteditable>{{ productQuantity.product }}</span></td>
                        <td><span contenteditable>{{ productQuantity.description|u.truncate(100, '...', false) }}</span>
                        </td>
                        <td><span data-prefix></span><span contenteditable>{{ productQuantity.price }}</span>€</td>
                        <td><span contenteditable>{{ productQuantity.quantity }}</span></td>
                        <td><span data-prefix></span><span>{{ productQuantity.subtotal }}</span>€</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        <table class="balance">
            <tr>
                <th><span contenteditable>Total</span></th>
                <td><span data-prefix></span><span> {{ invoice_calculs.total_amount|round(0, 'floor') }}</span></td>
            </tr>
            <tr>
                <th><span contenteditable>Amount Paid</span>€</th>
                <td><span data-prefix></span><span contenteditable>0.00</span>€</td>
            </tr>
            <tr>
                <th><span contenteditable>Balance Due</span></th>
                <td><span data-prefix></span><span> {{ invoice_calculs.total_amount|round(0, 'floor') }}</span>€</td>
            </tr>
        </table>
    </article>
    <aside>
        <h1><span contenteditable>Additional Notes</span></h1>
        <div contenteditable>
            <p>A finance charge of 1.5% will be made on unpaid balances after 30 days.</p>
        </div>
    </aside>


{% endblock %}

