 {{ form_start(form)}}
                {{ form_row(form.words)}}
                {{ form_widget(form.search)}}
        <a href="{{ path(url_path)}}" class="btn btn-warning">clear</a>

 {{ form_end(form)}}