{% extends 'admin/layouts/admin.html.twig' %}

{% block title %}Ticket - Message  index{% endblock %}



    {% block main_title %}{% endblock %}

    {% block content %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>subject</th>
        <th>email</th>
        <th>CreatedAt</th>
        <th>UpdatedAt</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
        {% for ticket in tickets%}
        <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.subject }}</td>
            <td>{{ ticket.user.email }}</td>
            <td>{{ ticket.createdAt ? ticket.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ ticket.updatedAt ? ticket.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>
                <a class="btn btn-warning" href="{{ path('app_admin_ticket_message_list_message', {'id': ticket.id})}}">show</a>
            </td>
        </tr>

        {%endfor%}

    </tbody>
</table>

    {% endblock %}
