{% extends 'front/layouts/base.html.twig' %}
{% block main_title %}

{% endblock %}

{% block content %}
    <section class="bg-light">
        <section class="container py-5">
                <div class="row d-flex justify-content-center mb-5">
                    <div class="col-md-8">
                    <h1 class="h1">Ticket</h1>
                    <div class="h-100 p-5  shadow bg-white ">
                        <div class="row">
                            <div class=" justify-content-center ">
                                {{ form(form) }}
                                <br>
                                <hr>
                                <h1>Chat Messages</h1>
                            {% for message in messages%}
                                <div class="chat-box {{ (message.customer is not null) ? 'team' : 'customer' }}">
                                    <div class="{{ (message.customer is not null) ? 'time-left' : 'time-right' }}" >
                                        <p >{{ message.text }}</p>
                                        <span class="time">{{  message.createdAt|ago }}</span>
                                    </div>
                                </div>
                             {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

{% endblock %}

