{% extends 'front/layouts/base.html.twig' %}



{% block main_title %}

{% endblock %}

{% block content %}

<section class="bg-light">
    <section class="container py-5">
        <div class="row text-center pt-5 pb-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Shippinh & Return</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    Lorem ipsum dolor sit amet.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12  pb-5">
                <div class="h-100 py-5  shadow">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">email</th>
                                <th scope="col">status</th>
                                <th scope="col">date</th>
                                <th scope="col">invoice</th>
                                <th scope="col">message</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{ order.user.email }}</td>
                                <td>{{ order.status }}</td>
                                <td>{{ order.createdAt|date('Y-m-d H:i:s')}}</td>
                                <td><a href="{{ path('app_cart_invoice', {'id' : order.id}) }}" class="btn btn-success">invoice</a></td>
                                <td><a href="{{ path('app_customer_dashboard_tracking', {'id' : order.id })}}" class="btn btn-warning">tracking</a></td>
                            </tr>
                            {%endfor%}

                            </tbody>
                        </table>

                </div>
            </div>
        </div>

    </section>
</section>


{% endblock %}
