{% extends 'front/layouts/base.html.twig' %}

{% block main_title %}{% endblock %}

{% block content %}


    <section class="bg-light">
        <section class="container py-5">
            <div class="row d-flex justify-content-center mb-5">
                <div class="col-md-8">
                    <h1 class="h1">Ticket</h1>
                    <div class="h-100 p-5  shadow bg-white ">
                        <div class="row">
                            <div class=" justify-content-center ">
                                {{ form(form) }}
                                <br>
                                <hr>
                                <h1>Chat Messages</h1>

                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">subject</th>
                                        <th scope="col">status</th>
                                        <th scope="col">date</th>
                                    <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ticket in tickets %}
                                    <tr>
                                        <td>{{ ticket.id}}</td>
                                        <td> {{ ticket.subject}} </a></td>
                                        <td> open</td>
                                        <td>{{  ticket.createdAt|date('Y/m/d') }}</td>
                                        <td><a class="btn btn-primary" href="{{ path('app_customer_dashboard_message', {'id': ticket.id})}}">Voir</a></td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

{% endblock %}

